@font-face {
  font-family: "Nodesto";
  src: url('../fonts/NodestoCapsCondensed.otf');
}
/* Nodesto Font */
.nodesto {
  font-family: "Nodesto", "Signika", "Palatino Linotype", serif;
  font-size: 18px;
  color: #444;
}
/* Flexbox */
.flexrow {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.flexrow > * {
  flex: 1;
}
.flexcol {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}
.flexcol > * {
  flex: 1;
}
/* ----------------------------------------- */
/*  Actor Sheet
/* ----------------------------------------- */
.pathfinder.actor-sheet {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  /* font-size: 14px; */
  /* Primary Attributes Section */
}
.pathfinder.actor-sheet > * {
  flex: 1;
}
.pathfinder.actor-sheet input[type="text"] {
  background: none;
  border: none;
  padding: 0;
  width: calc(100% - 2px);
  height: calc(100% - 2px);
  border: 1px solid transparent;
}
.pathfinder.actor-sheet input[type="text"]:hover,
.pathfinder.actor-sheet input[type="text"]:focus {
  border: 1px solid #111;
  box-shadow: 0 0 8px red;
}
.pathfinder.actor-sheet input:disabled,
.pathfinder.actor-sheet select:disabled,
.pathfinder.actor-sheet textarea:disabled {
  color: #111;
}
.pathfinder.actor-sheet input:disabled:hover,
.pathfinder.actor-sheet select:disabled:hover,
.pathfinder.actor-sheet textarea:disabled:hover,
.pathfinder.actor-sheet input:disabled:focus,
.pathfinder.actor-sheet select:disabled:focus,
.pathfinder.actor-sheet textarea:disabled:focus {
  border: 1px solid transparent;
  box-shadow: none;
}
.pathfinder.actor-sheet span,
.pathfinder.actor-sheet label {
  display: block;
}
.pathfinder.actor-sheet .mce-panel span {
  display: inherit;
}
.pathfinder.actor-sheet.editable .rollable:hover {
  color: #000;
  text-shadow: 0 0 10px red;
  cursor: pointer;
}
.pathfinder.actor-sheet .sheet-sidebar {
  flex: 0 0 250px;
  order: 1;
}
.pathfinder.actor-sheet .sheet-sidebar img.sheet-profile {
  width: 250px;
  height: 250px;
  border: 1px solid #666;
}
.pathfinder.actor-sheet .sheet-body {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  margin-left: 10px;
  flex: 1;
  order: 2;
  overflow: hidden;
}
.pathfinder.actor-sheet .sheet-body > * {
  flex: 1;
}
.pathfinder.actor-sheet .sheet-body .sheet-tabs {
  flex: 0 0 32px;
  margin-top: 5px;
}
.pathfinder.actor-sheet .sheet-body .tab {
  flex: 1 0 450px;
  margin: 5px 0;
  overflow: hidden;
}
.pathfinder.actor-sheet .sheet-header {
  flex: 0 0 90px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.pathfinder.actor-sheet .sheet-header > * {
  flex: 1;
}
.pathfinder.actor-sheet .sheet-header .charname {
  margin: 0 10px 0 0;
  height: 50px;
  border: none;
}
.pathfinder.actor-sheet .sheet-header .charname > input {
  float: left;
  height: 40px;
  width: 100%;
  margin: 5px 0;
  font-family: "Nodesto", "Signika", "Palatino Linotype", serif;
  font-size: 18px;
  color: #444;
  font-size: 36px;
}
.pathfinder.actor-sheet .sheet-header .charlevel {
  flex: 0 0 150px;
  height: 50px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  text-align: right;
}
.pathfinder.actor-sheet .sheet-header .charlevel > * {
  flex: 1;
}
.pathfinder.actor-sheet .sheet-header .charlevel .level {
  flex: 0 0 22px;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  font-size: 22px;
  font-family: "Nodesto", "Signika", "Palatino Linotype", serif;
  font-size: 18px;
  color: #444;
  font-size: 24px;
  line-height: 22px;
}
.pathfinder.actor-sheet .sheet-header .charlevel .level > * {
  flex: 1;
}
.pathfinder.actor-sheet .sheet-header .charlevel .level > input[type="text"] {
  flex: 0 0 30px;
  height: 22px;
  text-align: center;
}
.pathfinder.actor-sheet .sheet-header .charlevel .xpbar {
  width: 100%;
  flex: 0 0 8px;
  background: #666;
  border: 1px solid #000;
  border-radius: 3px;
}
.pathfinder.actor-sheet .sheet-header .charlevel .xpbar .bar {
  height: 4px;
  margin: 1px;
  display: block;
  background: #afebff;
  border: 1px solid #000;
  border-radius: 2px;
}
.pathfinder.actor-sheet .sheet-header .charlevel .experience {
  flex: 0 0 20px;
  line-height: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  justify-content: flex-end;
}
.pathfinder.actor-sheet .sheet-header .charlevel .experience > * {
  flex: 1;
}
.pathfinder.actor-sheet .sheet-header .charlevel .experience > input[type="text"] {
  flex: 1;
  text-align: right;
  height: 20px;
}
.pathfinder.actor-sheet .sheet-header .details {
  flex: 0 0 100%;
  height: 40px;
  list-style: none;
  margin: 0;
  padding: 0;
  border-top: 1px solid #CCC;
  border-bottom: 1px solid #CCC;
}
.pathfinder.actor-sheet .sheet-header .details .character-detail {
  width: 33.33%;
  height: 30px;
  line-height: 30px;
  margin: 4px -1px 4px 0;
  padding: 0 2px 0 4px;
  float: left;
  border-right: 1px solid #CCC;
}
.pathfinder.actor-sheet .sheet-header .details .character-detail:last-child {
  border-right: none;
}
.pathfinder.actor-sheet .sheet-header .details .character-detail > input {
  font-family: "Nodesto", "Signika", "Palatino Linotype", serif;
  font-size: 18px;
  color: #444;
  font-size: 20px;
  margin: 0 2px;
}
.pathfinder.actor-sheet .primary-attributes {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  flex: 0 0 80px;
  padding: 5px 0;
}
.pathfinder.actor-sheet .primary-attributes > * {
  flex: 1;
}
.pathfinder.actor-sheet .primary-attributes .attribute {
  flex: 0 0 calc(33.33% - 4px);
  height: 75px;
  margin-right: 6px;
  border: 1px solid #CCC;
  border-radius: 3px;
}
.pathfinder.actor-sheet .primary-attributes .attribute:last-child {
  margin-right: 0;
}
.pathfinder.actor-sheet .primary-attributes .attribute .attribute-name {
  position: relative;
  height: 20px;
  margin: 0 5px;
  font-family: "Nodesto", "Signika", "Palatino Linotype", serif;
  font-size: 18px;
  color: #444;
  line-height: 20px;
  font-size: 14px;
  text-align: center;
  margin: 0 5px;
  border-bottom: 1px solid #CCC;
}
.pathfinder.actor-sheet .primary-attributes .attribute .attribute-name .npc-roll-hp {
  font-size: 14px;
  position: absolute;
  right: 2px;
}
.pathfinder.actor-sheet .primary-attributes .attribute .attribute-value {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  height: 36px;
  font-family: "Nodesto", "Signika", "Palatino Linotype", serif;
  font-size: 18px;
  color: #444;
  font-size: 24px;
  color: #333;
  line-height: 36px;
  text-align: center;
}
.pathfinder.actor-sheet .primary-attributes .attribute .attribute-value > * {
  flex: 1;
}
.pathfinder.actor-sheet .primary-attributes .attribute .attribute-footer {
  height: 16px;
  text-align: center;
}
.pathfinder.actor-sheet .primary-attributes .attribute .attribute-footer .footer-label {
  width: 60%;
  height: 16px;
  line-height: 16px;
  float: left;
  margin: 0;
  padding-right: 5px;
  text-align: right;
}
.pathfinder.actor-sheet .primary-attributes .attribute .attribute-footer .footer-value {
  width: 40%;
  float: right;
}
.pathfinder.actor-sheet .primary-attributes .attribute .attribute-footer .footer-value > * {
  float: left;
  line-height: 16px;
  height: 16px;
}
.pathfinder.actor-sheet .primary-attributes .attribute .attribute-footer .footer-value > input {
  max-width: 24px;
}
.pathfinder.actor-sheet .primary-attributes .attribute .attribute-footer .footer-value input[name="data.attributes.speed.value"] {
  max-width: none;
  text-align: left;
}
/* ----------------------------------------- */
/* Biography Tab
/* ----------------------------------------- */
.pathfinder.actor-sheet .biography .editor-content {
  height: 100%;
  padding-right: 8px;
  overflow-y: scroll;
}
/* ----------------------------------------- */
/* Abilities Sidebar Tab
/* ----------------------------------------- */
.pathfinder .sheet-tabs {
  height: 32px;
  border-bottom: 1px solid #666;
}
.pathfinder .sheet-tabs > .item {
  line-height: 32px;
  padding: 0 10px;
  border-radius: 5px 5px 0 0;
}
.pathfinder .sheet-tabs > .item.active {
  color: #000;
  font-weight: 700;
  border: 1px solid #666;
  border-bottom: none;
  box-shadow: 0 0 10px inset #ff6400;
  text-shadow: none;
}
.pathfinder .abilities {
  margin-bottom: 3px;
}
.pathfinder .abilities .ability {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  height: 40px;
  line-height: 40px;
  border-bottom: 1px solid #CCC;
}
.pathfinder .abilities .ability > * {
  flex: 1;
}
.pathfinder .abilities .ability .ability-name {
  font-family: "Nodesto", "Signika", "Palatino Linotype", serif;
  color: #444;
  font-size: 18px;
  margin: 0;
}
.pathfinder .abilities .ability .ability-score {
  flex: 0 0 36px;
}
.pathfinder .abilities .ability .ability-score > input {
  font-family: "Nodesto", "Signika", "Palatino Linotype", serif;
  font-size: 18px;
  color: #444;
  font-size: 22px;
  color: #222;
  text-align: center;
}
.pathfinder .abilities .ability .ability-mod {
  
  flex: 0 0 28px;
  margin: 8px 0;
  font-family: "Nodesto", "Signika", "Palatino Linotype", serif;
  font-size: 18px;
  color: #444;
  line-height: 24px;
  color: #666;
  text-align: center;
}
.pathfinder .abilities .ability:last-child {
  border-bottom: 1px solid #666;
}
/* ----------------------------------------- */
/* Skills Tab
/* ----------------------------------------- */
.pathfinder .skills li.skill {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  height: 24px;
  line-height: 24px;
  border-bottom: 1px solid #CCC;

}
.pathfinder .skills li.skill > * {
  flex: 1;
}
.pathfinder .skills li.skill .skill-name {
  font-size: 12px;
}
.pathfinder .skills li.skill .skill-proficiency {
  flex: 0 0 24px;
}
.pathfinder .skills li.skill .skill-ability {
  flex: 0 0 36px;
  color: #666;
  text-align: right;
  margin-right: 4px;
}
.pathfinder .skills li.skill .skill-mod {
  flex: 0 0 28px;
  text-align: center;
}
/* ----------------------------------------- */
/* Traits Tab
/* ----------------------------------------- */
.traits .form-group label {
  flex: 0 0 50%;
}
.traits label {
  font-weight: bold;
}
/* ----------------------------------------- */
/* Inventory Tab
/* ----------------------------------------- */
.currency {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 3px 0;
  border-bottom: 1px solid #CCC;
}
.currency > * {
  flex: 1;
}
.currency h4.currency-name {
  flex: 0;
  margin: 0;
  font-weight: 700;
  padding: 0 5px 0 32px;
}
.currency ol.currency-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.currency ol.currency-list > * {
  flex: 1;
}
.currency ol.currency-list li.denomination {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  justify-content: flex-end;
}
.currency ol.currency-list li.denomination > * {
  flex: 1;
}
.currency ol.currency-list li.denomination label {
  text-transform: uppercase;
  flex: 0 0 30px;
  font-weight: 700;
}
.currency ol.currency-list li.denomination input {
  text-align: left;
  max-width: 48px;
}
/* Inventory List */
.inventory-list {
  list-style: none;
  margin: 0;
  padding: 0;
  height: calc(100% - 44px);
  overflow-y: scroll;
  /* Inventory Item */
  /* Inventory Header */
}
.inventory-list .item {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  line-height: 24px;
  padding: 2px 0;
  border-bottom: 1px solid #CCC;
}
.inventory-list .item > * {
  flex: 1;
}
.inventory-list .item .item-name {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.inventory-list .item .item-name > * {
  flex: 1;
}
.inventory-list .item .item-name img {
  flex: 0 0 24px;
  margin-right: 6px;
}
.inventory-list .item .item-name h4 {
  flex: 2;
  margin: 0;
}
.inventory-list .item .item-name .prepared {
  color: #666;
  margin-left: 3px;
  font-size: 10px;
}
.inventory-list .item .item-name .item-charges {
  color: #666;
  font-size: 12px;
  flex: 0;
}
.inventory-list .item .item-quantity,
.inventory-list .item .item-weight {
  flex: 0 0 32px;
  font-size: 12px;
  color: #666;
  text-align: center;
  border-right: 1px solid #CCC;
}
.inventory-list .item .item-controls {
  flex: 0 0 44px;
}
.inventory-list .item .item-controls a {
  display: block;
  float: left;
  width: 22px;
  font-size: 10px;
  text-align: center;
  color: #666;
}
.inventory-list .inventory-header {
  font-weight: 700;
  border-bottom: 2px groove #FFF;
}
.inventory-list .inventory-header h3 {
  font-size: 1em;
  margin: 0;
  padding-left: 32px;
  font-weight: bold;
}
.inventory-list .inventory-header .item-quantity,
.inventory-list .inventory-header .item-weight {
  color: #111;
}
.inventory-list .inventory-header .item-controls a.item-create {
  width: 100%;
}
/* Encumbrance Bar */
.encumbrance {
  background: rgba(0, 0, 0, 0.1);
  height: 12px;
  margin-top: 5px;
  border: 1px solid #111;
  border-radius: 3px;
}
.encumbrance .encumbrance-bar {
  background: #782e22;
  height: 8px;
  margin: 1px;
  border: 1px solid #ff6400;
  border-radius: 3px;
}
.encumbrance .encumbrance-label {
  float: right;
  text-align: right;
  padding-right: 5px;
  font-size: 12px;
  line-height: 12px;
}
/* ----------------------------------------- */
/*  Spellbook Tab
/* ----------------------------------------- */
.spellbook .spellcasting-ability {
  margin: 0 0 4px;
  padding-bottom: 4px;
  border-bottom: 2px groove #FFF;
}
.spellbook .spellcasting-ability h3 {
  font-size: 14px;
  margin: 0;
}
.spellbook .spellcasting-ability select {
  height: 24px;
  background: rgba(255, 255, 255, 0.5);
}
.spellbook .spellbook-header .item-name h3 {
  padding: 0;
}
.spellbook .spellbook-header .spell-school,
.spellbook .spellbook-header .spell-action {
  color: inherit;
}
.spellbook .inventory-list {
  height: calc(100% - 28px);
}
.spellbook .item-name {
  flex: 2;
}
.spellbook .spell-school,
.spellbook .spell-action {
  flex: 1;
  font-size: 12px;
  color: #666;
  text-align: center;
  border-right: 1px solid #CCC;
}
.spellbook .spell-slots,
.spellbook .spell-max {
  flex: 0 0 32px;
  text-align: center;
}
.spellbook .spell-max {
  border-right: 1px solid #CCC;
}
.spellbook .spellbook-empty .item-controls {
  flex: 1;
}
/* ----------------------------------------- */
/* Class List
/* ----------------------------------------- */
.class-header {
  line-height: 20px;
  position: relative;
  border-bottom: 1px solid #CCC;
  margin: 0 0 3px;
  padding-bottom: 5px;
}
.class-header h3 {
  text-align: center;
  font-family: "Nodesto", "Signika", "Palatino Linotype", serif;
  font-size: 18px;
  color: #444;
  font-size: 20px;
  color: #222;
  margin: 0;
}
.class-header a.item-create {
  position: absolute;
  right: 0;
  top: 2px;
  font-size: 14px;
  color: #666;
}
.class-list {
  overflow: hidden;
}
.class-list .item {
  background: rgba(0, 0, 0, 0.03);
  padding: 3px 6px;
  border: 1px solid #CCC;
  border-radius: 4px;
  overflow: hidden;
  margin-bottom: 5px;
}
.class-list .item .class-levels,
.class-list .item .item-controls {
  line-height: 16px;
  font-size: 12px;
  text-align: right;
}
.class-list .item .class-levels {
  padding-right: 5px;
  font-family: "Nodesto", "Signika", "Palatino Linotype", serif;
  font-size: 18px;
  color: #444;
  color: #222;
}
.class-list .item > * {
  line-height: 20px;
}
.class-list .item .class-name,
.class-list .item .class-subclass {
  margin: 0;
  flex: 1 0 75%;
}
.class-list .item .class-name {
  font-family: "Nodesto", "Signika", "Palatino Linotype", serif;
  font-size: 18px;
  color: #444;
  color: #222;
  font-size: 20px;
}
.class-list .item .class-subclass {
  line-height: 16px;
  color: #999;
}
/* PF TODO .class-list .class-levels,
.class-list .item-controls {
  flex: 0 0 40px;
  text-align: right;
}
.class-list .item-controls {
  font-size: 12px;
}
.class-list .class-levels {
  padding-right: 5px;
  font-size: 20px;
  font-weight: bold;
}
*/
/* ----------------------------------------- */
/*  NPC Sheet
/* ----------------------------------------- */
.pathfinder.npc-sheet .sheet-header .charlevel {
  flex: 0 0 80px;
}
.pathfinder.npc-sheet .sheet-header .charlevel .level {
  flex: 0 0 25px;
}
.pathfinder.npc-sheet .sheet-header .charlevel .level > label {
  margin-right: 5px;
}
.pathfinder.npc-sheet .sheet-header .charlevel .level > input[type="text"] {
  flex: 1;
}
/* ----------------------------------------- */
/*  Item Sheet
/* ----------------------------------------- */
.pathfinder.item-sheet .item-details {
  list-style: none;
  margin: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  justify-content: space-between;
  border-bottom: 2px groove #FFF;
}
.pathfinder.item-sheet .item-details > * {
  flex: 1;
}
.pathfinder.item-sheet .item-details > li {
  flex: 0 0 30%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  font-size: 14px;
  text-align: center;
}
.pathfinder.item-sheet .item-details > li > * {
  flex: 1;
}
.pathfinder.item-sheet .item-details label {
  line-height: 20px;
}
.pathfinder.item-sheet .consumable-charges input {
  flex: 0 0 64px;
  margin-left: 5px;
  text-align: center;
}
.pathfinder.item-sheet .sheet-tabs {
  margin-top: 5px;
  border-bottom: 2px groove #FFF;
}
.pathfinder.item-sheet .editor.active {
  display: block;
  min-height: 300px;
  max-height: 600px;
  overflow-y: scroll;
}
/* ----------------------------------------- */
/*  Chat Cards
/* ----------------------------------------- */
.pathfinder.chat-card {
  font-style: normal;
}
.pathfinder.chat-card .card-header {
  padding: 3px 0;
  border-top: 2px groove #FFF;
  border-bottom: 2px groove #FFF;
}
.pathfinder.chat-card .card-header img {
  flex: 0 0 36px;
  margin-right: 5px;
}
.pathfinder.chat-card .card-header h3 {
  flex: 1;
  margin: 0;
  line-height: 36px;
}
.pathfinder.chat-card .card-content {
  margin: 5px 0;
}
.pathfinder.chat-card .card-buttons {
  margin: 5px 0;
}
.pathfinder.chat-card .card-buttons span {
  display: block;
  line-height: 28px;
  text-align: center;
  border: 1px solid #CCC;
}
.pathfinder.chat-card .card-buttons button {
  margin: 2px 0;
}
.pathfinder.chat-card .card-footer {
  padding: 3px 0 0;
  border-top: 2px groove #FFF;
}
.pathfinder.chat-card .card-footer span {
  border-right: 2px groove #FFF;
  padding: 0 5px 0 0;
  font-size: 12px;
}
.pathfinder.chat-card .card-footer span:last-child {
  border-right: none;
  padding-right: 0;
}
