<form class="pathfinder actor-sheet {{cssClass}}" autocomplete="off">

    <!-- BODY -->
    <section class="sheet-body">

        <!-- HEADER -->
        <header class="sheet-header">
            <h1 class="charname">
                <input name="name" type="text" value="{{actor.name}}" placeholder="Character Name"/>
            </h1>

            <div class="charlevel">
                <div class="level">
                    <label>Level </label> 
                    <input name="data.details.level.value" type="text" value="{{data.details.level.value}}" data-dtype="Number" placeholder="1"/>
                </div>
                <div class="xpbar">
                    <span class="bar" style="width: {{data.details.xp.pct}}%"></span>
                </div>
                <div class="experience">
                    <input name="data.details.xp.value" type="text" value="{{data.details.xp.value}}" data-dtype="Number" placeholder="0"/>
                    <span class="max" data-wpad="14"> / {{data.details.xp.max}}</span>
                </div>
            </div>

            <ul class="details">
                <li class="character-detail">
                    <input name="data.details.race.value" type="text" value="{{data.details.race.value}}" placeholder="Race"/>
                </li>
                <li class="character-detail">
                    <input name="data.details.alignment.value" type="text" value="{{data.details.alignment.value}}" placeholder="Alignment"/>
                </li>
                <li class="character-detail">
                    <input name="data.details.deity.value" type="text" value="{{data.details.deity.value}}" placeholder="Deity"/>
                </li>

            </ul>
        </header>

        <!-- ATTRIBUTES -->
        <div class="primary-attributes">
            <div class="attribute">
                <h4 class="attribute-name">Health</h4>
                <div class="attribute-value">
                    <input name="data.attributes.hp.value" type="text" value="{{data.attributes.hp.value}}" placeholder="10"/>
                    <span class="flex0"> / </span>
                    <input name="data.attributes.hp.max" type="text" value="{{data.attributes.hp.max}}" placeholder="10"/>
                </div>
                <footer class="attribute-footer">
                        <h4 class="footer-label" style="font-size: x-small;">Temp HP</h4>
                        <div class="footer-value" style="font-size: small;">
                            <input name="data.attributes.temp_hp.value" type="text" value="{{data.attributes.temp_hp.value}}" placeholder="0"/>
                        </div>
                    </footer>
            </div>

            <div class="attribute">
                <h3 class="attribute-name rollable ac-edit">Armor Class</h3>
                <div class="attribute-value">
                    <span>{{data.attributes.ac.value}}</span>
                </div>
                <div class="attribute-footer flexrow">
                        <div class='flexcol' style="margin-right: 1px; text-align:right; border-right: 0px; font-size: small;">
                        <span style="margin-right: 1px;">Touch <b>{{data.attributes.touch_ac.min}}</b></span>
                        </div>
                        <div class='flexcol' style="margin-left: 2px; text-align: left; border-left: 2px solid #CCC; font-size: small;">   
                        <span style="margin-left: 3px;">Flat <b>{{data.attributes.flat_ac.value}}</b></span>
                        </div> 
                    </div>
            </div>

            <div class="attribute">
                <h3 class="attribute-name">Initiative</h3>
                <div class="attribute-value">
                    <span>{{numberFormat data.attributes.init.mod decimals=0 sign=true}}</span>
                </div>
                <footer class="attribute-footer">
                    <h4 class="footer-label">Modifier</h4>
                    <div class="footer-value">
                        <input name="data.attributes.init.value" type="text" placeholder="0"
                               data-dtype="{{data.attributes.init.type}}"
                               value="{{numberFormat data.attributes.init.value decimals=0 sign=true}}"/>
                    </div>
                </footer>
            </div>

        </div>
        <div class="primary-attributes">
                
            <div class="attribute">
                        <h3 class="attribute-name">Base Attack Bonus</h3>
                        <div class="attribute-value">
                            <input name="data.attributes.bab.value" type="text" placeholder="0"
                                data-dtype="{{data.attributes.bab.type}}"
                                value="{{numberFormat data.attributes.bab.value decimals=0 sign=true}}"/>
                        </div>
                        <footer class="attribute-footer">
                            <h4 class="footer-label">Base CMB</h4>
                            <div class="footer-value">
                                <span>{{numberFormat data.attributes.cmb.mod decimals=0 sign=true}}</span>
                            </div>
                        </footer>
            </div>
            
            
            <div class="attribute">
                <h3 class="attribute-name">
                    <a class="res-add"><b style="font-size:small;">+</b></a> Resource Tracker <a class="res-sub"><b style="font-size:small;">-</b></a><!--<input name="data.resources.primary.label" type="text" value="{{data.resources.primary.label}}" placeholder="Resource Tracker"/>-->
                </h3>
               <div class="attribute-value">
                   <input name="data.resources.primary.value" type="text" value="{{data.resources.primary.value}}" placeholder="1"/>
                   <span class="flex0"> / </span>
                   <input name="data.resources.primary.max" type="text" value="{{data.resources.primary.max}}" placeholder="1"/>
               </div>
               <footer class="attribute-footer">
                <h4 class="footer-label" style="width:100%; text-align: center;"><input name="data.resources.primary.name" type="text" placeholder="Resource Name" value="{{data.resources.primary.name}}"/></h4>

            </footer>
            </div>
            
            <div class="attribute">
                    <h3 class="attribute-name">
                            <div class="attribute-name flexrow">
                                    <div class='flexcol' style="text-align: left; font-size: x-small;">
                                        Base
                                    </div>
                                    <div class='flexcol' style="text-align: center;">
                                        Saves
                                    </div>
                                    <div class='flexcol' style="text-align: right; font-size: x-small;">
                                        Total
                                    </div>
                                </div>
                    </h3>
                   
                       <div class="flexrow" save-name="fort">
                            <div class='flexcol' style="text-align: left; font-size: x-small; flex: 0 0 12px; margin-left: 4px;">
                                    <input style="width: 4px;" name="data.attributes.fort.value" type="text" placeholder="0" data-dtype="{{data.attributes.fort.type}}" value="{{numberFormat data.attributes.fort.value decimals=0 sign=true}}"/>
                            </div>
                            <div class='save-roll flexcol rollable' style="text-align: center;">Fort (Con)</div>
                            <div class='flexcol' style="text-align: right; font-size: small; flex: 0 0 12px; margin-right: 4px;">
                            {{numberFormat data.attributes.fort.mod decimals=0 sign=true}}
                            </div>
                        </div>
                       <div class="flexrow" save-name="reflex">
                            <div class='flexcol' style="text-align: left; font-size: x-small; flex: 0 0 12px; margin-left: 4px;">
                                    <input style="width: 4px;" name="data.attributes.reflex.value" type="text" placeholder="0" data-dtype="{{data.attributes.reflex.type}}" value="{{numberFormat data.attributes.reflex.value decimals=0 sign=true}}"/>
                            </div>
                            <div class='save-roll flexcol rollable' style="text-align: center;">Reflex (Dex)</div>
                            <div class='flexcol' style="text-align: right; font-size: small; flex: 0 0 12px; margin-right: 4px;">
                                    {{numberFormat data.attributes.reflex.mod decimals=0 sign=true}}
                                    </div>
                                </div>
                        <div class="flexrow" save-name="will">
                       <div class='flexcol' style="text-align: left; font-size: x-small; flex: 0 0 12px; margin-left: 4px;">
                            <input style="width: 4px;" name="data.attributes.will.value" type="text" placeholder="0" data-dtype="{{data.attributes.will.type}}" value="{{numberFormat data.attributes.will.value decimals=0 sign=true}}"/>
                       </div>
                       <div class='save-roll flexcol rollable' style="text-align: center;">Will (Wis)</div>
                       <div class='flexcol' style="text-align: right; font-size: small; flex: 0 0 12px; margin-right: 4px;">
                            {{numberFormat data.attributes.will.mod decimals=0 sign=true}}
                            </div>
                        </div>
                   
                </div>

            
            
        </div>

        <nav class="sheet-tabs tabs" data-tab-container="primary">
            <a class="item active" data-tab="inventory">Inventory</a>
            <a class="item" data-tab="spellbook">Spellbook</a>
            <a class="item" data-tab="feats">Feats</a>
            <a class="item" data-tab="biography">Biography</a>
        </nav>

        <!-- INVENTORY -->
        <div class="tab inventory" data-tab="inventory">
                <div class="currency">
                        <h4 class="currency-name">Currency</h4>
                        <ol class="currency-list">
                            {{#each data.currency as |c i|}}
                            <li class="denomination {{i}}">
                                <label>{{i}}:</label>
                                <input type="text" name="data.currency.{{i}}.value" value="{{c.value}}" data-dtype="{{c.type}}"/>
                            </li>
                            {{/each}}
                        </ol>
                    </div>

            <ol class="inventory-list directory-list">
            {{#each actor.inventory as |section sid|}}
                <li class="item inventory-header">
                    <h3 class="item-name">{{section.label}}</h3>
                    <span class="item-quantity">Qty.</span>
                    <span class="item-weight">Wt.</span>
                    {{#if ../owner}}
                    <div class="item-controls">
                        <a class="item-control item-create" title="Create Item" data-item-type="{{sid}}"><i class="fas fa-plus"></i> Add</a>
                    </div>
                    {{/if}}
                </li>
                {{#each section.items as |item iid|}}
                <li class="item" data-item-id="{{item.id}}">
                    <div class="item-name">
                        <img src="{{item.img}}" title="{{item.name}}" width="24" height="24"/>
                        <h4 class="rollable">
                            {{item.name}}
                        </h4>
                        {{#if item.hasCharges}}
                        <span class="item-charges">({{item.data.charges.value}}/{{item.data.charges.max}})</span>
                        {{/if}}
                    </div>
                    <span class="item-quantity">{{item.data.quantity.value}}</span>
                    <span class="item-weight">{{item.totalWeight}}</span>

                    {{#if ../../owner}}
                    <div class="item-controls">
                        <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                        <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                    </div>
                    {{/if}}
                </li>
                {{/each}}
            {{/each}}
            </ol>

            <div class="encumbrance">
                    <span class="encumbrance-label">{{data.attributes.encumbrance.value}} / {{data.attributes.encumbrance.max}}</span>
                    <span class="encumbrance-bar" style="width:{{data.attributes.encumbrance.pct}}%"></span>
            </div>
        </div>
        
        <!-- SPELLBOOK -->
        <div class="tab spellbook" data-tab="spellbook">
                <div class="form-group spellcasting-ability">
                        <label><h3>Spellcasting Ability</h3></label>
                        <select name="data.attributes.spellcasting.value" data-type="String">
                            {{#select data.attributes.spellcasting.value}}
                            <option value="">None</option>
                            {{#each data.abilities as |abl a|}}
                            <option value="{{a}}">{{abl.label}}</option>
                            {{/each}}
                            {{/select}}
                        </select>
                    </div>

                    

            <ol class="inventory-list directory-list">
                    {{#each actor.spellbook}}
                    <!-- IF SPELL TRUE -->
                    {{else}}
                    <div align="right" style="font-size: 10px; color: #666; margin-right: 4px; font-weight: 700;">
                            <a class="item-control item-create" title="Create Item" data-item-type="spell"
                            data-spell-level="{{lvl}}"><i class="fas fa-plus"></i> Add</a>
                    </div>
                    {{/each}}

            {{#each actor.spellbook as |section lvl|}}
            
                <li class="item inventory-header spellbook-header">
                    <div class="item-name flexrow">
                        <h3>{{section.label}}</h3>

                    {{#unless section.isCantrip}}
                    <span class="spell-slots">
                        <input type="text" name="data.spells.spell{{lvl}}.value" value="{{section.uses}}" placeholder="0"/>
                    </span>
                    <span class="flex0"> / </span>
                    <span class="spell-max">
                        <input type="text" name="data.spells.spell{{lvl}}.max" value="{{section.slots}}" placeholder="0"/>
                    </span>
                    {{else}}
                    <span class="spell-slots">&infin;</span>
                    <span class="flex0"> / </span>
                    <span class="spell-max">&infin;</span>
                    {{/unless}}
                </div>

                <div class="spell-school">School</div>
                <div class="spell-action">Action</div>

                    {{#if ../owner}}
                    <div class="item-controls">
                            <a class="item-control item-create" title="Create Spell" data-item-type="spell"
                            data-spell-level="{{lvl}}"><i class="fas fa-plus"></i> Add</a>
                    </div>
                    {{/if}}
                </li>

                {{#each section.spells as |item i|}}
                <li class="item" data-item-id="{{item.id}}">
                    <div class="item-name">
                        <img src="{{item.img}}" title="{{item.name}}" width="24" height="24"/>
                        <h4 class="rollable">{{item.name}}</h4>
                    </div>

                    <div class="spell-school">{{item.data.school.str}}</div>
                    <div class="spell-action">{{item.data.time.value}}</div>

                    {{#if ../../owner}}
                    <div class="item-controls">
                        <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                        <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                    </div>
                    {{/if}}
                </li>
                {{/each}}
            {{/each}}
            </ol>
       </div>

               <!-- FEATS -->
               <div class="tab feats" data-tab="feats">
                    <ol class="inventory-list directory-list">
                            <li class="item inventory-header">
                                <div class="item-name flexrow">
                                    <h3>Ability Name</h3>
                                </div>
                                <div class="ability-req">Requirements</div>
            
                                {{#if owner}}
                                <div class="item-controls">
                                    <a class="item-control item-create" title="Create Ability" data-item-type="feat">
                                        <i class="fas fa-plus"></i> Add</a>
                                </div>
                                {{/if}}
                            </li>
            
                            {{#each actor.feats as |item i|}}
                            <li class="item" data-item-id="{{item.id}}">
                                <div class="item-name">
                                    <img src="{{item.img}}" title="{{item.name}}" width="24" height="24"/>
                                    <h4 class="rollable">{{item.name}}</h4>
                                </div>
            
                                <div class="ability-req">{{item.data.requirements.value}}</div>
            
                                {{#if ../owner}}
                                <div class="item-controls">
                                    <a class="item-control item-edit" title="Edit Ability"><i class="fas fa-edit"></i></a>
                                    <a class="item-control item-delete" title="Delete Ability"><i class="fas fa-trash"></i></a>
                                </div>
                                {{/if}}
                            </li>
                            {{/each}}
                        </ol>
                </div>
                
        <!-- BIOGRAPHY -->
        <div class="tab biography active editor" data-tab="biography">
            <div class="editor-content" data-edit="data.details.biography.value">
               {{{data.details.biography.value}}}
            </div>
            <a class="editor-edit"><i class="fas fa-edit"></i></a>
        </div>
    </section>

    <!-- SIDEBAR -->
    <section class="sheet-sidebar">
        <img class="sheet-profile" src="{{actor.img}}" title="{{actor.name}}" height="64" width="64" data-edit="img"/>

        <nav class="sheet-tabs tabs" data-tab-container="sidebar">
            <a class="item active" data-tab="abilities">Abilities</a>
            <a class="item" data-tab="skills">Skills</a>
            <a class="item" data-tab="traits">Traits</a>
        </nav>

        <!-- ABILITY SCORES -->
        <div class="tab abilities active" data-tab="abilities">
            <ol class="abilities-list directory-list">
            {{#each data.abilities}}
                <li class="ability {{@key}}">
                    <h3 class="ability-name">{{this.label}}</h3>
                    <span class="ability-score">
                        <input name="data.abilities.{{@key}}.value" type="text" value="{{this.value}}" placeholder="10"/>
                    </span>
                    <span class="ability-mod">({{numberFormat this.mod decimals=0 sign=true}})</span>
                </li>
            {{/each}}
            </ol>

            <!-- CLASS LIST -->
            <header class="class-header">
                <h3>Class Levels</h3>
                {{#if owner}}
                <a class="item-create" data-item-type="class"><i class="fa fa-plus"></i> Add</a>
                {{/if}}
            </header>

            <ol class="class-list inventory-list directory-list" style="overflow-y: scroll; height: 186px">
                {{#each actor.classes}}
                <li class="item" data-item-id="{{this.id}}">
                    <h4 class="class-name">{{this.name}}</h4>
                    <span class="class-levels">{{this.data.levels.value}}</span>
                    <span class="class-subclass">{{this.data.subclass.value}}</span>
                    {{#if ../owner}}
                    <div class="item-controls">
                        <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                        <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                    </div>
                    {{/if}}
                </li>
                {{/each}}
            </ol>

        </div>

        <!-- SKILLS -->
        <div class="tab skills active" data-tab="skills">
            <ol class="directory-list" style="height: 457px; overflow-y: scroll;">
            {{#each data.skills as |skill s|}}
                <li class="skill" data-skill="{{s}}">
                    <input class="prof" type="hidden" name="data.skills.{{s}}.value" value="{{skill.value}}"/>
                    <a class="skill-proficiency" title="{{skill.hover}}">{{{skill.icon}}}</a>
                    <h3 class="skill-name rollable">{{skill.label}} ({{skill.ability}})</h3>
                    <div class="attribute-value" style="font-size: xx-small; text-align: right; flex: 0 0 48px;">
                        <input type="text" style="width: 2px; padding: 0;" name="data.skills.{{s}}.ranks" data-dtype="{{skill.type}}" value="{{skill.ranks}}" placeholder="0"/> Ranks</div>
                    <span class="skill-mod">{{numberFormat skill.mod decimals=0 sign=true}}</span>
                </li>
            {{/each}}
            </ol>
        </div>

        <!-- TRAITS -->
        <div class="tab traits active" data-tab="traits">

            <div class="form-group-stacked">
                <label>{{data.traits.size.label}}</label>
                <input type="text" name="data.traits.size.value" data-dtype="{{data.traits.size.type}}"
                       value="{{data.traits.size.value}}" placeholder="Medium"/>
            </div>

            <div class="form-group-stacked">
                <label>{{data.attributes.speed.label}}</label>
                <input type="text" name="data.attributes.speed.value" data-dtype="{{data.attributes.speed.type}}"
                       value="{{data.attributes.speed.value}}" placeholder="30 ft."/>
            </div>

            <div class="form-group-stacked">
                <label>{{data.traits.perception.label}}</label>
                <input type="text" name="data.traits.perception.value" data-dtype="{{data.traits.perception.type}}"
                       value="{{data.traits.perception.value}}" placeholder="Value"/>
            </div>

            <div class="form-group-stacked">
                <label>{{data.traits.senses.label}}</label>
                <input type="text" name="data.traits.senses.value" data-dtype="{{data.traits.senses.type}}"
                       value="{{data.traits.senses.value}}" placeholder="None"/>
            </div>

            <div class="form-group-stacked">
                <label>{{data.traits.languages.label}}</label>
                <input type="text" name="data.traits.languages.value" data-dtype="{{data.traits.languages.type}}"
                       value="{{data.traits.languages.value}}" placeholder="Common"/>
            </div>

            <div class="form-group-stacked">
                <label>{{data.traits.di.label}}</label>
                <input type="text" name="data.traits.di.value" data-dtype="{{data.traits.di.type}}"
                       value="{{data.traits.di.value}}" placeholder="None"/>
            </div>
            
            <div class="form-group-stacked">
                <label>{{data.traits.dr.label}}</label>
                <input type="text" name="data.traits.dr.value" data-dtype="{{data.traits.dr.type}}"
                       value="{{data.traits.dr.value}}" placeholder="None"/>
            </div>
            
            <div class="form-group-stacked">
                <label>{{data.traits.dv.label}}</label>
                <input type="text" name="data.traits.dv.value" data-dtype="{{data.traits.dv.type}}"
                       value="{{data.traits.dv.value}}" placeholder="None"/>
            </div>
            
            <div class="form-group-stacked">
                <label>{{data.traits.ci.label}}</label>
                <input type="text" name="data.traits.ci.value" data-dtype="{{data.traits.ci.type}}"
                       value="{{data.traits.ci.value}}" placeholder="None"/>
            </div>
        </div>
    </section>
</form>
